<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error - CopyGen - AI Writer &amp; Copywriting Landing Page HTML Template.</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="nk-body " data-menu-collapse="lg">
    <div class="nk-app-root ">
        <main class="nk-pages">
            <section class="section has-mask min-vh-100 d-flex flex-column">
                <div class="nk-mask bg-pattern-dot bg-blend-around"></div>
                <div class="container my-auto">
                    <div class="section-content">
                        <div class="row g-gs justify-content-center">
                            <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                                <div class="block-gfx mt-n5">
                                    <img class="w-100 rounded-4" src="{% static 'images/gfx/error/404.svg' %}" alt="">
                                </div>
                                <div class="block-text text-center mt-4">
                                    <h3 class="title">Oops! Why you’re here?</h3>
                                    <p>We are very sorry for inconvenience. It looks like you’re try to access a page that either has been deleted or never existed.</p>
                                    <ul class="btn-list btn-list-inline g-0">
                                        <li><a class="btn btn-primary" href="/"><span>Back to Home</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- .section-content -->
                </div><!-- .container -->
            </section><!-- .section -->
        </main>
    </div>
    <script src="{% static 'js/bundle.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>