<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Content Tool</title>
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/22.2.6/css/dx.light.css">
    <link rel="stylesheet" href="{% static 'css/dx.generic.custom-scheme.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@7.0.1/minified/introjs.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <style>
        .dx-viewport {
            padding: 0 5px;
        }

        .loader {
            border: 8px solid #f3f3f3;
            /* Light gray */
            border-top: 8px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
            margin: 0 auto;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        #startTour {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: #337ab7;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;
            z-index: 9999;
        }

        .dx-toolbar-item-content {
            display: flex;
        }

        .dx-datagrid-header-panel .dx-toolbar {
            margin-top: 4px !important;
            margin-bottom: 4px !important;
        }



        .form-control:focus {
            background-color: #fff !important;
            border-color: #fff;
        }

        textarea.form-control {
            background-color: #fff !important;
            border-color: #fff;
        }

        .loading-indicator {
            position: relative;
            width: 16px;
            height: 16px;
        }

        .loading-indicator::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #ccc;
            border-top-color: #333;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }

        .buttons-container {
            margin-top: 10px;
            text-align: end;
        }
    </style>
</head>

<body style="margin: 0;">
    <button id="startTour">Take a tour</button>

    <div class="dx-viewport demo-container">
        <div class="widget-container" id="widget">
            <div id="file-uploader"></div>
        </div>
        <div id="gridContainer"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/intro.js@7.0.1/intro.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
    <script
        src="https://js.devexpress.com/Content/bundles/data?v=GrAib10e3frwMvKYOumf8M8soVhJ5PEOl6uz1sOcPvI1"></script>
    <script src="https://cdn3.devexpress.com/jslib/22.2.6/js/dx-quill.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/22.2.6/js/dx-diagram.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/22.2.6/js/dx-gantt.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.2/jszip.min.js"></script>
    <!-- <script src="https://js.devexpress.com/SharedStatic/DevExtreme/22_2/js/jspdf.umd.min.js"></script> -->
    <script src="https://cdn3.devexpress.com/jslib/22.2.6/js/dx.all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>
    <script>
        var hasTakenTour = localStorage.getItem('hasTakenTour');
        if (hasTakenTour) {
            // Hide the tour button if the user has already taken the tour
            document.getElementById('startTour').style.display = 'none';
        }
        document.getElementById('startTour').addEventListener('click', function () {
            var intro = introJs();
            intro.setOptions({
                steps: [
                    {
                        element: document.querySelector('.dx-viewport'),
                        intro: 'Welcome to the Review Content Tool.',
                    },
                    {
                        element: document.querySelector('.dx-datagrid-header-panel'),
                        intro: 'Widget Container',
                    }, {
                        element: document.querySelector('[aria-label="Search Panel"]'),
                        intro: 'Upload your file here.',
                    }, {
                        element: document.querySelector('[aria-label="Group Panel"]'),
                        intro: 'Upload your file here.',
                    },
                    {
                        element: document.querySelector('[aria-label="Upload File"]'),
                        intro: 'Upload your file here.',
                    }, {
                        element: document.querySelector('[aria-label="Export to Excel"]'),
                        intro: 'Export Excel file.',
                    },
                    {
                        element: document.querySelector('[aria-label="Export to CSV"]'),
                        intro: 'Export CSV file.',
                    },
                    {
                        element: document.querySelector('.dx-toolbar-label'),
                        intro: 'Drag and drop Column to change the order.',
                    },
                    {
                        element: document.querySelector('[aria-label="Add a row"]'),
                        intro: 'Add a new row.',
                    },
                    {
                        element: document.querySelector('[aria-label="Search in the data grid"]'),
                        intro: 'Search your data here.',
                    },
                ],
            });
            intro.start();

            localStorage.setItem('hasTakenTour', true);

            // Hide the tour button
            document.getElementById('startTour').style.display = 'none';
        });
    </script>

    <script>
        let previousData = null;

        function contentAPI() {
            $.ajax({
                url: '/api/glossary-term/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (previousData !== null && JSON.stringify(data) !== JSON.stringify(previousData)) {
                        new Noty({
                            type: 'success',
                            layout: 'topRight',
                            theme: 'bootstrap-v4',
                            text: 'New data has been added.',
                            timeout: 3000,
                            progressBar: true,
                        }).show();
                        $('#gridContainer').dxDataGrid('instance').refresh();
                        $('#file-uploader').toggle();
                        init();
                    }

                    // console.log(data, 'data');

                    previousData = data;
                },
                error: function (xhr, status, error) {
                    // console.log(error);
                }
            });
        }

        contentAPI();

        setInterval(contentAPI, 5000);

        function init() {
            $.ajax({
                url: '/api/glossary-term/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var employees = data;
                    previousData = employees;
                    console.log(employees, 'employees');
                    $('#gridContainer').dxDataGrid({
                        dataSource: employees,
                        keyExpr: 'id',
                        showBorders: true,
                        paging: {
                            enabled: false,
                        },
                        editing: {
                            mode: 'popup',
                            allowUpdating: false,
                            allowAdding: true,
                            useIcons: true,
                            allowDeleting: false,
                            popup: {
                                title: 'Glossary Term',
                                showTitle: true,
                                width: 700,
                                height: 250,
                                position: {
                                    my: 'center',
                                    at: 'center',
                                    of: window,
                                },
                            },
                            form: {
                                colCount: 1,
                                items: [{
                                    itemType: 'group',
                                    items: ['main_topic', 'glossaryterm']
                                }],
                            },
                        },
                        loadPanel: {
                            enabled: true,
                            shading: true,
                            shadingColor: 'rgba(0,0,0,0.4)'
                        },
                        focusedRowEnabled: true,
                        selection: {
                            mode: 'single',
                        },
                        onSelectionChanged: (e) => {
                        },

                        onRowInserted: function (e) {
                            console.log(e.data, 'e.data');
                            var csrfToken = '{{ csrf_token }}';
                            console.log('New row data:', e.data.main_topic);
                            console.log('New row data:', e.data.glossaryterm);
                            var form = new FormData();
                            form.append("main_topic", e.data.main_topic);
                            form.append("glossaryterm", e.data.glossaryterm);
                            console.log(form);

                            var settings = {
                                url: "/api/glossary-term/",
                                method: "POST",
                                timeout: 0,
                                processData: false,
                                mimeType: "multipart/form-data",
                                contentType: false,
                                data: form,
                                headers: {
                                    "X-CSRFToken": csrfToken
                                }
                            };

                            $.ajax(settings)
                                .done(function (response) {
                                    console.log(response);
                                })
                                .fail(function (error) {
                                    console.log(error);
                                });

                        },
                        columns: [
                            {
                                dataField: 'main_topic',
                                caption: 'Main Topic',
                                alignment: 'center',
                                validationRules: [{
                                    type: 'required',
                                    message: 'Main Topic is required',
                                }],
                            }, {
                                dataField: 'glossaryterm',
                                caption: 'Glossary Term',
                                alignment: 'center',
                                validationRules: [{
                                    type: 'required',
                                    message: 'Category is required',
                                }],
                            },
                            {
                                dataField: 'html_answer',
                                caption: 'Final Content',
                                alignment: 'left',
                                allowAdding: true,
                                allowEditing: false,
                                allowFiltering: false,
                                WordWrapEnabled: true,
                                cellTemplate: function (container, options) {
                                    if (!options.data || !options.data.html_answer) {
                                        $("<div>")
                                            .addClass("loading-indicator")
                                            .appendTo(container);
                                    } else {
                                        // $("<div>")
                                        //     .addClass("row-content")
                                        //     .text(options.data.description)
                                        //     .appendTo(container);
                                    }
                                    const popupContentTemplate = function () {
                                        const rowData = options.data;
                                        const popupBody = $('<div>').addClass('popup-body');

                                        // Iterate over each property in the row data
                                        for (const property in rowData) {
                                            if (rowData.hasOwnProperty(property) && property !== 'main_topic' && property !== 'id' && property !== 'answer_1' && property !== 'answer_2' && property !== 'flag' && property !== 'glossaryterm' && property !== 'final_answer') {
                                                const value = rowData[property];
                                                const formGroup = $('<div>').addClass('form-group row mb-2');
                                                const label = $('<label>').addClass('col-sm-1 col-form-label').text(property);
                                                const inputContainer = $('<div>').addClass('col-sm-11');
                                                let input;

                                                if (property === 'html_answer') {
                                                    input = $('<textarea>').addClass('form-control').val(value).prop('readonly', true).css('height', 'auto').attr('rows', '30');
                                                } else {
                                                    input = $('<input>').addClass('form-control').val(value).prop('readonly', true);
                                                }

                                                inputContainer.append(input);
                                                formGroup.append(label, inputContainer);
                                                popupBody.append(formGroup);

                                                // Count character length for html_answer fields
                                                if (property === 'html_answer') {
                                                    const characterCount = value.length;
                                                    const characterCountElement = $('<div>').addClass('form-group row mb-2');
                                                    const characterCountLabel = $('<label>').addClass('col-sm-1 col-form-label').text('Character Count');
                                                    const characterCountContainer = $('<div>').addClass('col-sm-11');
                                                    const characterCountValue = $('<input>').addClass('form-control').val(characterCount).prop('readonly', true);
                                                    characterCountContainer.append(characterCountValue);
                                                    characterCountElement.append(characterCountLabel, characterCountContainer);
                                                    popupBody.append(characterCountElement);
                                                }
                                            }
                                        }

                                        return $('<div>').append(popupBody);
                                    };

                                    const popup = $('<div>').appendTo(container).dxPopup({
                                        contentTemplate: popupContentTemplate,
                                        showCloseButton: true,
                                        title: 'Row Details',
                                        height: 'auto',
                                        visible: false,
                                    }).dxPopup('instance');

                                    $(container).append(
                                        $('<div>').text(options.data.html_answer).on('dxclick', function () {
                                            popup.option('visible', true);
                                        }),
                                    );
                                },
                            },
                            {
                                caption: 'Actions',
                                alignment: 'center',
                                allowFixing: true,
                                fixed: true,
                                fixedPosition: 'right',
                                cellTemplate: function (container, options) {
                                    $('<div>')
                                        .append($('<div>')
                                            .dxButton({
                                                icon: 'trash',
                                                onClick: function () {
                                                    // console.log('Delete row data:', options.data.id);
                                                    var csrfToken = '{{ csrf_token }}';
                                                    var form = new FormData();
                                                    form.append("id", options.data.id);

                                                    var settings = {
                                                        url: "/api/glossary-term/",
                                                        method: "DELETE",
                                                        timeout: 0,
                                                        processData: false,
                                                        mimeType: "multipart/form-data",
                                                        contentType: false,
                                                        data: form,
                                                        headers: {
                                                            "X-CSRFToken": csrfToken,
                                                        },
                                                    };

                                                    $.ajax(settings).done(function (response) {
                                                        $.ajax({
                                                            url: '/api/glossary-term/',
                                                            type: 'GET',
                                                            dataType: 'json',
                                                            success: function (data) {
                                                                // console.log(data);
                                                                grid.option('dataSource', data);
                                                                $('#gridContainer').dxDataGrid('instance').refresh();
                                                            }
                                                        });

                                                        new Noty({
                                                            type: 'success',
                                                            layout: 'topRight',
                                                            theme: 'nest',
                                                            text: 'Row deleted successfully',
                                                            timeout: 3000,
                                                            progressBar: true,
                                                            theme: 'bootstrap-v4',
                                                        }).show();
                                                    }).fail(function (response) {
                                                        new Noty({
                                                            type: 'error',
                                                            layout: 'topRight',
                                                            theme: 'nest',
                                                            text: 'Something went wrong',
                                                            timeout: 3000,
                                                            progressBar: true,
                                                            theme: 'bootstrap-v4',
                                                        }).show();
                                                    });
                                                }
                                            })
                                        )
                                        .append($('<div>')
                                            .dxButton({
                                                icon: 'refresh',
                                                onClick: function () {
                                                    // console.log('Update row data:', options.data.id);
                                                    var csrfToken = '{{ csrf_token }}';
                                                    var form = new FormData();
                                                    form.append("id", options.data.id);

                                                    var settings = {
                                                        "url": "/api/glossary-term/",
                                                        "method": "PUT",
                                                        "timeout": 0,
                                                        "processData": false,
                                                        "mimeType": "multipart/form-data",
                                                        "contentType": false,
                                                        "data": form,
                                                        "headers": {
                                                            "X-CSRFToken": csrfToken,
                                                        },
                                                    };

                                                    $.ajax(settings).done(function (response) {
                                                        new Noty({
                                                            type: 'success',
                                                            layout: 'topRight',
                                                            theme: 'nest',
                                                            text: 'ReGenerating Output......',
                                                            timeout: 3000,
                                                            progressBar: true,
                                                            theme: 'bootstrap-v4',
                                                        }).show();
                                                    })
                                                        .fail(function (response) {
                                                            new Noty({
                                                                type: 'error',
                                                                layout: 'topRight',
                                                                theme: 'nest',
                                                                text: 'Something went wrong',
                                                                timeout: 3000,
                                                                progressBar: true,
                                                                theme: 'bootstrap-v4',
                                                            }).show();
                                                        });
                                                }
                                            })
                                        )
                                        .append($('<div>').dxButton({
                                            icon: 'edit',
                                            onClick: function () {
                                                var content = options.data.html_answer;
                                                var id = options.data.id;
                                                console.log(id, 'fffffffffffffffffffff');
                                                openEditForm(content, id);

                                                function openEditForm(content) {
                                                    var form = $('<div>');

                                                    $('<div>')
                                                        .text('content')
                                                        .appendTo(form);

                                                    $('<div>')
                                                        .dxTextArea({
                                                            value: content,
                                                            height: 250,
                                                            onValueChanged: function (e) {
                                                                content = e.value;
                                                                id = options.data.id;
                                                                // console.log(id,'fffffffffffffffffffff');
                                                            }
                                                        })
                                                        .appendTo(form);

                                                    var saveButton = $('<div>')
                                                        .dxButton({
                                                            text: 'Save',
                                                            onClick: function () {
                                                                savecontent(content);
                                                                popup.dxPopup('hide');
                                                            }
                                                        });

                                                    var cancelButton = $('<div>')
                                                        .dxButton({
                                                            text: 'Cancel',
                                                            onClick: function () {
                                                                popup.dxPopup('hide');
                                                            }
                                                        });

                                                    var buttonsContainer = $('<div>')
                                                        .addClass('buttons-container')
                                                        .append(saveButton)
                                                        .append(cancelButton);

                                                    var popup = $('<div>')
                                                        .addClass('popup-container')
                                                        .dxPopup({
                                                            title: 'Edit content',
                                                            showTitle: true,
                                                            width: 700,
                                                            height: 400,
                                                            contentTemplate: function (content) {
                                                                form.appendTo(content);
                                                                buttonsContainer.appendTo(content);
                                                            }
                                                        })
                                                        .appendTo('body');

                                                    popup.dxPopup('show');
                                                }

                                                function savecontent(content, id) {
                                                    var id = options.data.id;
                                                    console.log(id, content, 'savecontent');
                                                    var csrfToken = '{{ csrf_token }}';
                                                    var form = new FormData();
                                                    form.append("id", id);
                                                    form.append("html_answer", content);

                                                    var settings = {
                                                        "url": "/api/glossary-term/",
                                                        "method": "PUT",
                                                        "timeout": 0,
                                                        "processData": false,
                                                        "mimeType": "multipart/form-data",
                                                        "contentType": false,
                                                        "data": form,
                                                        "headers": {
                                                            "X-CSRFToken": csrfToken,
                                                        },
                                                    };
                                                    $.ajax(settings)
                                                        .done(function (response) {
                                                            console.log(response, 'response');
                                                            new Noty({
                                                                type: 'success',
                                                                layout: 'topRight',
                                                                text: 'content Updated',
                                                                timeout: 2000,
                                                                progressBar: true,
                                                                theme: 'bootstrap-v4'
                                                            }).show();
                                                        })
                                                        .fail(function (jqXHR, textStatus, errorThrown) {
                                                            new Noty({
                                                                type: 'error',
                                                                layout: 'topRight',
                                                                text: 'Failed to update content',
                                                                timeout: 2000,
                                                                progressBar: true,
                                                                theme: 'bootstrap-v4'
                                                            }).show();
                                                        });
                                                }
                                            }
                                        })
                                        )
                                        .append($('<div>')
                                            .dxButton({
                                                icon: 'copy',
                                                onClick: function () {
                                                    var copyText = options.data.html_answer;
                                                    var textArea = document.createElement("textarea");
                                                    textArea.value = copyText;
                                                    document.body.appendChild(textArea);
                                                    textArea.select();
                                                    document.execCommand("Copy");
                                                    textArea.remove();
                                                    new Noty({
                                                        type: 'success',
                                                        layout: 'topRight',
                                                        theme: 'nest',
                                                        text: 'Copied to clipboard',
                                                        timeout: 3000,
                                                        progressBar: true,
                                                        theme: 'bootstrap-v4',
                                                    }).show();
                                                }
                                            })
                                        )
                                        .appendTo(container);
                                }
                            }
                        ],
                        onToolbarPreparing: function (e) {
                            e.toolbarOptions.items.unshift({
                                location: "before",
                                widget: "dxButton",
                                options: {
                                    icon: "refresh",
                                    text: "Regenerate Failed",
                                    onClick: function (e) {
                                        var grid = $("#gridContainer").dxDataGrid("instance");
                                        var selectedRowsData = grid.getSelectedRowsData();
                                        if (selectedRowsData.length >= 0) {
                                            var regenerateConfirmation = DevExpress.ui.dialog.confirm("Are you sure you want to regenerate all failed records?", "Confirm Regenerate");
                                            regenerateConfirmation.done(function (dialogResult) {
                                                if (dialogResult) {

                                                    var csrfToken = '{{ csrf_token }}';

                                                    var form = new FormData();
                                                    form.append("flag", "true");

                                                    var settings = {
                                                        "url": "/api/glossary-term/",
                                                        "method": "PUT",
                                                        "timeout": 0,
                                                        "processData": false,
                                                        "mimeType": "multipart/form-data",
                                                        "contentType": false,
                                                        "data": form,
                                                        "headers": {
                                                            "X-CSRFToken": csrfToken,
                                                        },
                                                    };

                                                    $.ajax(settings).done(function (response) {
                                                        new Noty({
                                                            type: 'success',
                                                            layout: 'topRight',
                                                            theme: 'nest',
                                                            text: 'ReGenerating',
                                                            timeout: 3000,
                                                            progressBar: true,
                                                            theme: 'bootstrap-v4',
                                                        }).show();
                                                        grid.refresh();
                                                    });
                                                }
                                            });
                                        }
                                    }

                                }
                            });
                            e.toolbarOptions.items.unshift({
                                location: "before",
                                widget: "dxButton",
                                options: {
                                    icon: "trash",
                                    text: "Delete All",
                                    onClick: function () {
                                        var grid = $("#gridContainer").dxDataGrid("instance");
                                        var selectedRowsData = grid.getSelectedRowsData();
                                        if (selectedRowsData.length >= 0) {
                                            var password = prompt("Please enter your password to confirm the deletion:");
                                            if (password !== null && password === "1234") {
                                                var deleteConfirmation = DevExpress.ui.dialog.confirm("Are you sure you want to delete this record?", "Confirm Delete");
                                                deleteConfirmation.done(function (dialogResult) {
                                                    if (dialogResult) {
                                                        var csrfToken = '{{ csrf_token }}';

                                                        var settings = {
                                                            url: "/api/glossary-term/",
                                                            method: "DELETE",
                                                            timeout: 0,
                                                            processData: false,
                                                            mimeType: "multipart/form-data",
                                                            contentType: false,
                                                            headers: {
                                                                "X-CSRFToken": csrfToken,
                                                            },
                                                        };

                                                        $.ajax(settings).done(function (response) {
                                                            new Noty({
                                                                type: 'success',
                                                                layout: 'topRight',
                                                                text: 'Row deleted successfully',
                                                                timeout: 3000,
                                                                theme: 'bootstrap-v4',
                                                                progressBar: true,
                                                            }).show();
                                                            $("#gridContainer").dxDataGrid("instance").refresh();

                                                        }).fail(function (response) {
                                                            new Noty({
                                                                type: 'error',
                                                                layout: 'topRight',
                                                                text: 'Row deletion failed',
                                                                timeout: 3000,
                                                                theme: 'bootstrap-v4',
                                                                progressBar: true,
                                                            }).show();
                                                            console.log(response);
                                                        });
                                                    }
                                                });
                                            } else {
                                                new Noty({
                                                    type: 'error',
                                                    layout: 'topRight',
                                                    text: 'Password is incorrect',
                                                    timeout: 3000,
                                                    theme: 'bootstrap-v4',
                                                    progressBar: true,
                                                }).show();
                                            }
                                        } else {
                                            new Noty({
                                                type: 'error',
                                                layout: 'topRight',
                                                text: 'No rows selected',
                                                timeout: 3000,
                                                theme: 'bootstrap-v4',
                                                progressBar: true,
                                            }).show();
                                        }
                                    }
                                }
                            });
                            e.toolbarOptions.items.unshift({
                                location: "before",
                                widget: "dxButton",
                                options: {
                                    icon: "download",
                                    text: "Export to CSV",
                                    onClick: function () {
                                        var csv = "data:text/csv;charset=utf-8,";
                                        var grid = $("#gridContainer").dxDataGrid("instance");
                                        grid.selectAll();
                                        setTimeout(function () {
                                            var selectedRowsData = grid.getSelectedRowsData();
                                            var columns = grid.getVisibleColumns();
                                            // header row
                                            columns.forEach(function (column) {
                                                if (selectedRowsData[0][column.dataField] !== undefined) {
                                                    csv += column.caption + ",";
                                                }
                                            });
                                            csv += "\n";
                                            // data rows
                                            selectedRowsData.forEach(function (row) {
                                                columns.forEach(function (column) {
                                                    if (row[column.dataField] !== undefined) {
                                                        csv += '"' + row[column.dataField] + '",';
                                                    }
                                                });
                                                csv += "\n";
                                            });
                                            // create a hidden link to download the CSV file
                                            var link = document.createElement("a");
                                            link.setAttribute("href", encodeURI(csv));
                                            link.setAttribute("download", "data.csv");
                                            link.style.display = "none";
                                            document.body.appendChild(link);
                                            link.click();
                                            grid.deselectAll();
                                            document.body.removeChild(link);
                                        }, 100);
                                    }
                                }
                            });

                            e.toolbarOptions.items.unshift({
                                location: "before",
                                widget: "dxButton",
                                options: {
                                    icon: "upload",
                                    text: "Upload File",
                                    onClick: function () {
                                        $('#file-uploader').toggle();
                                        const csrfToken = '{{ csrf_token }}'; // Add CSRF token here

                                        const fileUploader = $('#file-uploader').dxFileUploader({
                                            multiple: false,
                                            accept: '.csv,.xlsx',
                                            value: [],
                                            uploadMode: 'instantly',
                                            uploadUrl: '/api/glossary-term/',
                                            beforeSend: function (xhr, settings) {
                                                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                                                }
                                            },
                                            onValueChanged(e) {
                                                const files = e.value;
                                                if (files.length > 0) {
                                                    $('#selected-files').html('<div class="loader"></div>').show();

                                                    const formData = new FormData();
                                                    formData.append('file', files[0]);

                                                    $.ajax({
                                                        url: '/api/glossary-term/',
                                                        type: 'POST',
                                                        data: formData,
                                                        processData: false,
                                                        contentType: false,
                                                        beforeSend: function (xhr, settings) {
                                                            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                                                xhr.setRequestHeader("X-CSRFToken", csrfToken);
                                                            }
                                                        },
                                                        success: function (response) {
                                                            $('#selected-files').html('');
                                                            const $selectedItem = $('<div />').addClass('selected-item');
                                                            $selectedItem.append(
                                                                $('<span />').html(`Name: ${response.name}<br/>`),
                                                                $('<span />').html(`Size: ${response.size} bytes<br/>`),
                                                                $('<span />').html(`Type: ${response.type}<br/>`),
                                                                $('<span />').html(`Last Modified Date: ${response.lastModifiedDate}`),
                                                            );
                                                            $selectedItem.appendTo($('#selected-files'));
                                                            $('#selected-files').show();
                                                            new Noty({
                                                                type: 'success',
                                                                layout: 'topRight',
                                                                text: 'File uploaded successfully',
                                                                timeout: 3000,
                                                                theme: 'bootstrap-v4',
                                                                progressBar: true,
                                                            }).show();
                                                            window.location.reload();
                                                        },
                                                        error: function (error) {
                                                            new Noty({
                                                                type: 'error',
                                                                layout: 'topRight',
                                                                text: 'File upload failed',
                                                                timeout: 3000,
                                                                theme: 'bootstrap-v4',
                                                                progressBar: true,
                                                            }).show();
                                                            console.log('Upload failed:', error);
                                                            $('#selected-files').hide();
                                                        }
                                                    });
                                                } else {
                                                    $('#selected-files').hide();
                                                }
                                            },
                                        });

                                        fileUploader.option('beforeSend', function (xhr, settings) {
                                            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                                xhr.setRequestHeader("X-CSRFToken", csrfToken);
                                            }
                                        });
                                    }
                                }
                            });

                            //set group panel
                            // e.toolbarOptions.items.unshift({
                            //     location: "before",
                            //     widget: "dxButton",
                            //     options: {
                            //         icon: "group",
                            //         text: "Group Panel",
                            //         onClick: function () {
                            //             var grid = $("#gridContainer").dxDataGrid("instance");
                            //             grid.option("groupPanel.visible", !grid.option("groupPanel.visible"));
                            //         }
                            //     }
                            // });
                            // //set search panel
                            // e.toolbarOptions.items.unshift({
                            //     location: "before",
                            //     widget: "dxButton",
                            //     options: {
                            //         icon: "search",
                            //         text: "Search Panel",
                            //         onClick: function () {
                            //             var grid = $("#gridContainer").dxDataGrid("instance");
                            //             grid.option("searchPanel.visible", !grid.option("searchPanel.visible"));
                            //         }
                            //     }
                            // });
                            // //add home button
                            var review = "{% url 'gmb-description' %}";
                            e.toolbarOptions.items.unshift({
                                location: "before",
                                widget: "dxButton",
                                options: {
                                    icon: "tableproperties",
                                    text: "Description Content Tool",
                                    onClick: function () {
                                        window.location.href = review;
                                    }
                                }
                            });
                            e.toolbarOptions.items.unshift({
                                location: "before",
                                widget: "dxButton",
                                options: {
                                    icon: "home",
                                    text: "Home",
                                    onClick: function () {
                                        window.location.href = '/';
                                    }
                                }
                            });
                        },
                        paging: {
                            pageSize: 50,
                        },
                        grouping: {
                            autoExpandAll: false,
                        },
                        height: '100vh',
                        width: '100%',
                        allowColumnReordering: true,
                        allowColumnResizing: true,
                        allowSearch: true,
                        columnAutoWidth: true,
                        columnFixing: {
                            enabled: true,
                        },
                        // columnHidingEnabled: true,
                        focusedRowEnabled: true,
                        rowAlternationEnabled: true,
                        hoverStateEnabled: true,
                        hoverState: {
                            backgroundColor: '#61c6bf',
                            borderColor: '#C7C7C7'
                        },
                        showBorders: true,
                        onCellHoverChanged: function (e) {
                            if (e.event.type === "mouseenter") {
                                e.component.focus(e.cellElement);
                            }
                        },
                        showBorders: true,
                        resizing: {
                            enabled: true,
                        },
                        pager: {
                            showPageSizeSelector: true,
                            allowedPageSizes: [50, 100, 200],
                            showInfo: true,
                            showNavigationButtons: true,
                            showPageSizeSelector: true,
                            visible: true
                        },
                        filterRow: { visible: true, applyFilter: "auto", showOperationChooser: true, showAllText: "Show all" },
                        headerFilter: { visible: true },
                        searchPanel: { visible: true, width: 500, placeholder: "Search..." },
                    });
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        init();


    </script>
</body>

</html>